.wrapper {
    min-width: 100px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #ccc;
}

.primary {
    width: 126px;
    color: var(--color-white);
    background-color: var(--color-hex);

    &:hover {
        background-color: var(--color-hax);
    }
}

@media screen and (min-width: 740px) and (max-width: 1023px) {
    .primary {
        display: none;
    }
}

@media (max-width: 739px) {
    .primary {
        display: none;
    }
}

.slider {
    display: flex;
    align-items: flex-start;
    padding: 10px 15px;
    background: #f5f5f5 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 6px #00000029;
    border-radius: 8px;
    top: 0;
    left: 0;
    font-weight: bold;
    color: #666;
    width: 290px;
    margin-top: 10px;
}

.slider:hover {
    background: transparent linear-gradient(90deg, #009981 0%, #00483d 100%) 0% 0% no-repeat;
    color: #fff;
    box-shadow: 0 2px 6px #00000029;
    padding: 20px 15px;
    margin-top: 0;
}

.apple {
    width: 320px;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    border: 1px solid #e95d25;

    &::before {
        content: '';
        background-color: #e95d25;
        width: 60px;
        height: 37px;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        position: absolute;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

.enabled {
    width: 240px;
    padding: 8px 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    border: 1px solid #e95d25;

    &::before {
        content: '';
        background-color: #e95d25;
        width: 60px;
        height: 37px;
        top: 50%;
        left: 0%;
        transform: translateY(-50%);
        position: absolute;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
